.navigation
    >ul 
        align-items: center
        @extend .flex
        flex-flow: row wrap 
        >li 
            color: $blue
            +rem('font-size', 12px)
            text-transform: uppercase             