@font-face
    font-family: 'Mosk Light 300'
    src: url('assets/fonts/hinted-MoskLight300.eot')
    src: url('assets/fonts/hinted-MoskLight300.eot?#iefix') format('embedded-opentype'),url('assets/fonts/hinted-MoskLight300.woff2') format('woff2'),url('assets/fonts/hinted-MoskLight300.woff') format('woff'),url('assets/fonts/hinted-MoskLight300.ttf') format('truetype'),url('assets/fonts/hinted-MoskLight300.svg#MoskLight300') format('svg')
    font-weight: 300
    font-style: normal

@font-face 
    font-family: 'Volkswagen'
    src: url('assets/fonts/hinted-Volkswagen-Bold.eot')
    src: url('assets/fonts/hinted-Volkswagen-Bold.eot?#iefix') format('embedded-opentype'),url('assets/fonts/hinted-Volkswagen-Bold.woff2') format('woff2'),url('assets/fonts/hinted-Volkswagen-Bold.woff') format('woff'),url('assets/fonts/hinted-Volkswagen-Bold.ttf') format('truetype'),url('assets/fonts/hinted-Volkswagen-Bold.svg#Volkswagen-Bold') format('svg')
    font-weight: bold
    font-style: normal

@import 'https://use.fontawesome.com/releases/v5.0.10/css/all.css'