.pg-about
    #wrap 
        >.footer
            >.container
                +mq(1366px, max)
                    +mq(1280px, min)  
                        margin-top: -15px
        >.main
            // +mq(1366px, max)
            //     +mq(1280px, min)  
            //         padding-bottom: 0
            //         padding-top: 15px             
            .about
                .content
                    flex-flow: initial
                    >*
                        &:first-child
                            width: 55%
                            +mq(1280px, max)
                                padding-right: 0
                                width: 100%
                                &+div 
                                    display: none
                    .about-img
                        align-items: center
                        background-color: $blue
                        @extend .flex
                        margin-right: -100vw
                        >img, 
                        >svg 
                            filter: contrast(10) grayscale(1) invert(0)
                            height: 350px
                            left: 250px
                            +mq(1440px, max)
                                left: 15vw
                            opacity: .3
                    .owl-carousel.owl-paragraphs         
                        .owl-dots
                            text-align: center
                            >div 
                                display: inline-block 
                                margin: 15px 4px
                                vertical-align: middle 
                                >span 
                                    +border(999px)
                                    background-color: gray
                                    display: block
                                    height: 10px
                                    width: 10px
                                &.active
                                    >span 
                                        background-color: $yellow
                        &.off
                            align-items: stretch 
                            @extend .flex
                            flex-flow: row wrap 
                            justify-content: space-between
                            >*
                                flex: 1
                                padding-left: 20px
                                +rem(('font-size' : 14px, 'line-height' : 22px))   
                                +mq(1366px, max)
                                    +mq(1280px, min)        
                                        +rem('font-size', 11px)                                                                   
                                text-align: justify
                                &:first-of-type
                                    padding-right: 20px
                                    padding-left: 0
