.pg-contact
    #wrap 
        >.main
            +mq(414px, max)
                background-color: $blue
                margin-top: 45px
                padding-top: 0
            .contact
                +mq(414px, max)
                    background-color: white
                >.container
                    >.content
                        >*
                            &:first-child
                                width: 45%
                                +mq(767px, max)
                                    margin-bottom: 25px
                                    padding-right: 0
                                    width: 100%
                        .section-header
                            &+p 
                                +mq(737px, max)
                                    display: none
                        .form
                            +mq(767px, max)
                                +border(0px)
                                margin: 0 -15px
                                padding-right: 0
                            >.content
                                +mq(815px, max)
                                    span 
                                        padding-right: 0
                                        +mq(767px, max)
                                            padding-right: 15px
                                    p  
                                        text-align: center
                                        padding: 0 15px
                                >*
                                    &:first-child
                                        width: 55%
                                        +mq(815px, max)
                                            margin-bottom: 25px
                                            width: 100%
                                    &:last-child
                                        @extend .flex
                                        flex-flow: column wrap 
                                        justify-content: space-between
                                        >p 
                                            +mq(737px, max)
                                                display: none
                                            width: 100%
                                        >.contact-ways
                                            align-items: center
                                            @extend .flex
                                            flex-flow: row wrap 
                                            justify-content: space-evenly
                                            +mq(815px, max)
                                                margin: 15px auto 10px
                                            text-align: center
                                            top: -33%
                                            +mq(815px, max)
                                                top: 0   
                                            width: 100%
                                            >li 
                                                .button 
                                                    background-color: white
                                                    +border(999px)
                                                    cursor: pointer
                                                    color: $blue
                                                    display: block
                                                    +rem(('line-height' : 70px, 'font-size' : 35px))
                                                    height: 70px
                                                    width: 70px 
                                                    &:hover
                                                        background-color: $yellow 