.pg-home
    #wrap
        >.header
            z-index: 3
        >.main
            z-index: 2
            >.container
                align-items: stretch 
                @extend .flex
                flex-flow: column wrap
                justify-content: space-between 
                min-height: 100%
                >.home 
                    flex: 1
                    width: 100%
                    >.owl-carousel
                        &.owl-slideshow
                            align-items: stretch 
                            @extend .flex
                            flex-flow: column wrap
                            justify-content: space-between 
                            min-height: 100%
                            >.owl-controls
                                align-items: center
                                bottom: 0
                                @extend .flex
                                flex-flow: row wrap 
                                justify-content: space-between
                                left: 0
                                +mq(836px, max)
                                    margin: 45px auto 0
                                padding-right: 45px
                                position: absolute
                                +mq(836px, max)
                                    position: relative
                                width: 30%
                                +mq(1048px, max)
                                    width: 40%
                                    +mq(836px, max)
                                        padding-right: 0
                                        width: 100%
                                >.owl-prev,
                                >.owl-next
                                    background: none
                                    color: $blue
                                    flex: 0 0 auto 
                                    +rem('font-size', 40px)
                                    +mq(1048px, max)
                                        +rem('font-size', 30px)
                                    opacity: 1
                                    text-align: center
                                >.owl-prev,
                                >.owl-next
                                    +border(999px)
                                    background: white
                                    border: 1px $blue solid
                                    cursor: pointer
                                    +rem('line-height', 72px)
                                    +mq(1048px, max)
                                        +rem('line-height', 45px)
                                    height: 70px
                                    +mq(1048px, max)
                                        height: 45px
                                    order: 1
                                    padding: 0 0
                                    width: 70px
                                    +mq(1048px, max)
                                        width: 45px
                                >.owl-next
                                    order: 3
                                >.owl-dots
                                    align-items: center
                                    background-color: white 
                                    +border(8px)
                                    border: 1px $blue solid 
                                    display: inherit
                                    flex: 1
                                    justify-content: center
                                    margin: 0 30px 
                                    +mq(1048px, max)
                                        margin: 0 15px
                                    order: 2
                                    padding: 8px 8px
                                    +mq(1048px, max)
                                        padding: 8px 4px
                                    width: auto  
                                    >.owl-dot
                                        &.active
                                            >span
                                                background: $yellow
                                        >span 
                                            background: $blue
                                            margin: 0 4px
                                            padding: 0
                            >.owl-stage-outer
                                flex: 1
                                width: 100%
                                >.owl-stage
                                    align-items: stretch 
                                    @extend .flex
                                    flex-flow: row wrap
                                    justify-content: space-between                                 
                                    min-height: 100%
                                    >.owl-item
                                        min-height: inherit
                                        >.item
                                            align-items: stretch 
                                            @extend .flex
                                            flex-flow: row wrap
                                            justify-content: space-between        
                                            min-height: inherit
                                            >.item-column
                                                flex: 1
                                                >.item-title
                                                    display: block 
                                                    +rem('font-size', 50px)
                                                    margin-bottom: 15px
                                                    text-transform: uppercase
                                                    >small 
                                                        display: block 
                                                        font-size: 37%
                                                    &~p
                                                        strong 
                                                            font-weight: 800
                                                        +rem(('font-size' : 14px, 'line-height' : 22px))
                                                &[style]
                                                    background-size: cover 
                                                    background-repeat: no-repeat
                                                    background-position: center bottom
                                                    padding: 0 0 40%
                                                    +mq(1048px, max)
                                                        padding: 0 0 50%
                                                &:first-child
                                                    padding-right: 45px
                                                    flex: 0 0 auto
                                                    width: 30%
                                                    +mq(1048px, max)
                                                        width: 40%
                                                        +mq(836px, max)
                                                            padding-right: 0
                                                            text-align: center 
                                                            width: 100%
                                                    &+*
                                                        +mq(836px, max)
                                                            background-position: left center
                                                            flex: 0 0 auto
                                                            height: 250px
                                                            margin-top: 45px
                                                            padding: 0
                                                            width: 100%
                                                        padding-left: 45px
        > .footer
            background-color: $blue
            margin-top: -75px
            z-index: 1
            >.container
                padding-top: 65px
                >.copyright
                    &::after,
                    &::before
                        background-color: white
                    img[alt='Innominatum']
                        filter: invert(1)
                >.navigation
                    .ico-atendimento::before
                        filter: invert(1)
                    >ul 
                        >li 
                            color: white