.header
    flex: 0 0 auto 
    width: 100%
    z-index: 4
    >.container
        align-items: center
        @extend .flex
        flex-flow: row wrap 
        justify-content: space-between
        padding-top: 45px
        +mq(737px, max)
            padding-top: 15px
        >.logo
            flex: 0 0 auto 
            padding-right: 45px
        >.navigation
            flex: 1
            >ul
                justify-content: flex-start 
                position: relative
                >li 
                    &:not(:last-child):not(:nth-last-child(2))
                        padding-right: 35px
                    &:last-child,
                    &:nth-last-child(2)
                        margin-left: auto
                    &:last-child
                        display: none  
                        +mq(768px, max)
                            display: flex
                    &:not(:last-child)
                        +mq(768px, max)
                            display: none
                    &.-toggle > ul 
                        display: block 
                    a:not(.btn)
                        &::after
                            background-color: $blue
                            content: ""
                            display: block
                            left: 0 
                            position: absolute 
                            top: 100%
                            +transition(500ms)
                            height: 1px
                            width: 0%
                        &:hover
                            font-weight: 800
                            letter-spacing: -.015rem
                            &::after
                                width: 100%
                    &:hover
                        >ul 
                            display: block
                    >ul 
                        border-left: 1px $blue solid 
                        display: none
                        left: -9px
                        padding: 20px 0 10px 8px
                        position: absolute
                        top: 0
                        >li 
                            &:not(:last-child)
                                margin-bottom: 8px